* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "montserrat", "Courier New", Courier, monospace;
}

:root {
  --logo-blue: #0a3641;
}

:root {
  --hover-blue: #0C4C5C;
}

body {
  font-weight: bold;
}

footer {
  background-color: var(white);
  background: var(--logo-blue);
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  max-width: 960px;
  margin: 0 auto;
}

.footer-p {
  font-size: 16px;
  color: white;
}

.index-main {
  background: url("/images/adrian-infernus-0SyHFboAIKI-unsplash\ 3-min.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.shop-main {
  background: url("/images/adrian-infernus-0SyHFboAIKI-unsplash\ 33\ shoppage.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.contact-main {
  background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), url("/images/photo-1566116386886-46622124e514.webp");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about-main {
  background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), url("/images/photo-1533243216203-8c08406d4583\ about.jpg");
  background-size: cover;
  background-position: center;
  padding-bottom: 3rem;
  min-height: 100vh;
}

.product-main {
  background: url("/images/adrian-infernus-0SyHFboAIKI-unsplash\ 3\ shoppage.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkout-main {
  background: url("/images/photo-1648564626497-fbc3f8b2b827.webp");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

nav {
  background: var(--logo-blue);
  position: fixed;
  width: 100%;
  /* z-index: 999; */
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.navLogo {
  height: 60px;
}

label.logo {
  color: #fff;
  font-size: 35px;
  line-height: 80px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: #fff;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
}

a.active,
a:hover {
  background: var(--hover-blue);
  transition: 0.5s;
}

.checkbutton {
  font-size: 30px;
  color: #fff;
  line-height: 80px;
  cursor: pointer;
  display: none;
  transition: right 0.5s ease-in-out; 
}

#check {
  display: none;
}

.logorainydays {
  display: flex;
  justify-content: center;
  width: 100%;
}

.logorainydays img {
  max-width: 420px;
  width: 85%;
  margin-top: 130px;
}

.logo__text {
  font-size: 25px;
  margin: 20px auto;
  width: auto;
  height: 200px;
  color: #fff;
}

.text {
  text-align: center;
}

h1,
h2 {
  min-width: 200px;
  margin: 0px auto;
  text-align: center;
}

a {
  color: #fff;
}

.button-flex {
  display: flex;
  justify-content: center;
}

.cta {
  display: inline-block;
  background-color: var(--logo-blue);
  text-align: center;
  font-weight: bold;
  font-size: 190%;
  line-height: 80px;
  border-radius: 12px;
  margin: auto;
  width: 200px;
  text-decoration: none;
}

.cta a {
  text-align: center;
}

/* SHOP */

.imageContainer {
  color: #fff;
  font-size: large;
  padding: 2rem;
  height: 250px;
  width: 120px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
}

.imageContainer p {
  text-align: center;
  justify-content: space-around;
  display: flex;
}

.shop__h1 {
  color: var(--logo-blue);
  padding-top: 4rem;
  font-size: 2.6rem;
}

.textFlex {
  display: inline-block;
}

.imageContainer > img {
  width: 100px;
  display: flex;
  align-items: center;
}

.JacketImageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Contact Page, https://www.w3schools.com/howto/howto_css_contact_form.asp */

/* Contact main styles */
.contact-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 50px 0;
  color: #fff;
}

/* Logo styles */
.logo-rainy-days {
  margin-bottom: 30px;
}

.logo-rainy-days img {
  max-width: 100%;
  margin-top: 8rem;
}

/* Contact heading styles */
.contact__h1 {
  font-size: 2rem;
  margin-bottom: 30px;
}

/* Contact form styles */
.contact__flex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}

.contact__text {
  margin-right: 50px;
  max-width: 400px;
  /* font-size:  */
}

.contact__text p {
  margin-bottom: 10px;
}

.contact__container {
  background-color: #fff;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
}

.contact label {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
}
.contact input[type="text"],
.contact input[type="email"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  width: 100%;
}

.contact input[type="text"]:focus,
.contact input[type="email"]:focus {
  outline: none;
  border-color: #0070f3;
  box-shadow: 0 0 0 2px rgba(0, 112, 243, 0.25);
}

.contact .form-error {
  color: red;
  margin-top: 5px;
  font-size: 14px;
}

#contactButton[type="submit"] {
  background-color: var(--logo-blue);
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

#contactButton[type="submit"]:hover {
  background-color: var(--hover-blue);
}

/*About Page */

.about__h1 {
  top: 20%;
  text-align: center;
  font-size: 3rem;
  color: #fff;
}

.about {
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  width: 670px;
  height: 200px;
  padding: 1rem;
  font-size: x-large;
}

.about__text {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

/*Product Page*/

.product__h1 {
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 0.5rem;
    border-radius: 10px;
    width: 300px;
}

.product__cta {
  display: inline-block;
  background: var(--logo-blue);
  text-align: center;
  font-weight: bold;
  font-size: 150%;
  line-height: 80px;
  border-radius: 10px;
  margin: auto;
  width: 300px;
  text-decoration: none;
  display: flex;
  justify-content: center;
} 

.ProductImageContainer {
  display: flex;
}

.productGridContainer > .imageContainer {
  width: 80%;
  height: auto;
}

.imageContainer img {
  width: 125px;
  height: 158px;
}

.imageContainer__text {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.product__price {
  display: flex;
  justify-content: center;
  font-size: x-large;
  padding-bottom: 20px;
  color: #fff;
}

.productImageLarge {
  width: 450px;
}

.productGridContainer {
  width: 70%;
  display: grid;
  gap: 1rem;
  margin-top: 1rem;
  align-items: center;
  justify-items: center;
  grid-template-areas:
  "productGrid2 productGrid1"
  "productGrid2 productGrid3"
  "productGrid2 productGrid4"
  "productGrid2 productGrid5";
}

.productGrid1 {
  grid-area: productGrid1;
}

.productGrid2 {
  grid-area: productGrid2;
}

.productGrid3 {
  grid-area: productGrid3;
}

.productGrid4 {
  grid-area: productGrid4;
}

.productGrid5 {
  grid-area: productGrid5;
}

.productTextContainer {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: large;
    padding: 1rem;
    border-radius: 10px;
    width: 300px;
}

/* Checkout */

.checkout-flex {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  width: 60%;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 10px;
  padding-bottom: 1rem;
}

.checkout__item {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  border-bottom: 2px solid black;
}

.checkout__total {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  border-bottom: 2px solid black;
}

.checkout__h1 {
  margin: 50px auto;
  padding-top: 25px;
}

.checkout__cta {
  display: inline-block;
  background: var(--logo-blue);
  text-align: center;
  font-weight: bold;
  font-size: 150%;
  line-height: 80px;
  border-radius: 20px;
  margin: auto;
  width: 60%;
  text-decoration: none;
  display: flex;
  justify-content: center;
} 

/* Confirmation */

.confirmation__h1 {
  font-size: 30px;
}

.confirmation__p {
  text-align: center;
}

.confirmation__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  margin-top: 3rem;
}

.confirmation__text > .cta {
  margin: 0;
  width: auto;
  padding: 0 1rem;
}

@media (max-width: 1100px) {
  label.logo {
    font-size: 30px;
  }
  nav ul li a {
    font-size: 16px;
  }

  .contact {
    flex-direction: column;
    align-items: center;
  }

  .productImageLarge {
    width: 100%;
  }

  .checkoutFlex {
    width: 50%;
  }
}

@media (max-width: 858px) {
  .checkbutton {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(44, 62, 80, 0.85);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
    color: #1d95b3
  }
  #check:checked ~ ul {
    left: 0;
  }

  .product__h1 {
    width: 100%;
  }

  .productGridContainer {
    width: 70%;
    margin-bottom: 2rem;
    grid-template-areas:
    "productGrid1 productGrid1"
    "productGrid2 productGrid3"
    "productGrid4 productGrid4"
    "productGrid5 productGrid5";
  }

  .productTextContainer {
    width: auto;
  }

  .checkoutFlex {
    width: 60%;
  }
}

@media (max-width: 720px) {
  .cta {
    width: 10rem;
    font-size: 1.9rem;
  }

  label.logo {
    font-size: 1.5rem;
  }

  .about {
    width: 90%;
    height: auto; 
  }

  .productGridContainer {
    grid-template-areas:
    "productGrid1"
    "productGrid2"
    "productGrid3"
    "productGrid4"
    "productGrid5";
  }

  .checkoutFlex {
    width: 70%;
  }
}

@media (max-width: 450px) {
  .cta {
    width: 7.5rem;
    height: 5rem;
    font-size: 1.2rem;
  }

  .product__cta {
    width: 100%;
  }

  .checkoutFlex {
    width: 80%;
  }

  .confirmation__cta {
    font-size: 100%;
    margin-bottom: 1rem;
  }
}

@media (max-width: 360px) {
  label.logo {
    font-size: 1.3rem;
    padding-left: 1.5rem;
  }

  .cta {
    width: 5rem;
    height: 3rem;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .checkoutFlex {
    width: 90%;
  }
}