* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'montserrat', 'Courier New', Courier, monospace;
    font-weight: bold;
}

.indexMain {
    background: url("images/adrian-infernus-0SyHFboAIKI-unsplash\ 2.png") no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.shopMain {
    background: url("/images/adrian-infernus-0SyHFboAIKI-unsplash\ 3\ shoppage.png" ) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.contactMain {
    background: url("/images/photo-1566116386886-46622124e514.webp") no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.aboutMain {
    background: url("/images/photo-1533243216203-8c08406d4583.webp") no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

nav {
    position: absolute;
    background: #0A3641;
    height: 80px;
    width: 100%;
    z-index: 10;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active, a:hover {
    background: #0C4C5C;
    transition: .5s;
}

.checkbutton {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.logorainydays  {
    display: flex;
    justify-content: center;
    width: 100%;
    
}

.logorainydays img {
    max-width: 420px;
    width: 85%;
    margin-top: 130px;
    }

    /* .active {
     text-decoration: underline; 
    } */

.logo__text {
    /* font-family: 'montserrat', 'Courier New', Courier, monospace; */
    font-size: 25px;
    margin: 50px auto;
    width: auto;
    height: 200px;
    color: white;
}

.text {
    text-align: center;
}

h1, h2 {
    /* display: block; */
    min-width: 200px;
    margin: 0px auto;
    text-align: center;
}

a {
    color: white;
}

.buttonFlex {
    display: flex;
    justify-content: center;
}

.cta {
    display: inline-block;
    background: #0A3641;
    text-align: center;
    font-weight: bold;
    font-size: 190%;
    line-height: 80px;
    /* font-family: montserrat, courier 'Courier New', Courier, monospace; */
    border-radius: 12px;
    margin: auto;
    width: 200px;
    text-decoration: none;
    text-transform: uppercase;
}

.cta a {
    text-align: center;
}

@media (max-width: 952px) {
    label.logo{
    font-size: 30px;
    padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbutton {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgba(44,62,80, 0.5);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover, a.active {
        background: none;
        color: #127993;
    }
    #check:checked ~ ul {
        left: 0;
    }
}

@media (max-width: 720px) {
    .cta {
    width: 10rem;
    font-size: 1.9rem;
    }

    label.logo {
    font-size: 1.5rem;
    padding-left: 2rem;
    width: 100px;    
    }
    }

@media (max-width: 450px) {
    .cta {
        width: 7.5rem;
        height: 5rem;
        font-size: 1.2rem;

    }
}

@media (max-width: 360px) {
    label.logo {
        font-size: 1.3rem;
        padding-left: 1.5rem;
    }
    
    .cta {
        width: 5rem;
        height: 3rem;
        font-size: .8rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* SHOP */

.textFlex {
    display: inline-block;

}

.imageContainer > img {    
    height: 100px;
}

.JacketImageContainer {
    position: absolute;
    left: 10%;
    bottom: 20%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
    border: solid red 2px;
    width: 80%;
}

/* Contact Page, https://www.w3schools.com/howto/howto_css_contact_form.asp */

input[type=text], select, textarea {
    width: 100%;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom:  16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #157790;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #146478;
}

.contact__container {
    border-radius: 5px;
    padding: 5rem;
    margin-top: 120px;
    position: absolute;
    right: 0;
    max-width: 600px;
}

/* .contactrainydays {
    background-image: url("images/photo-1566116386886-46622124e514.webp");
    height: 92.1%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
} */



